body {
  padding: 0;
  margin: 0;
  background: #2f37ad;
  background-image: linear-gradient(#c257a2 50%, #3f51b5);
  text-align: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}
